body {
  background: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0;
}

header {
  font-size: 30px;
}

strong {
  font-weight: 900;
}

.frame {
  border: 1rem solid #a18a53;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.pattern {
  background-image: url("./media/paper-3.png");
  content: "";
  height: calc(100% + 2rem);
  left: -1rem;
  pointer-events: none;
  position: absolute;
  top: -1rem;
  width: calc(100% + 2rem);
  z-index: 3;
}

.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  position: relative;
  z-index: 2;
}

.logo {
  margin: 10vh 0;
  min-width: 10rem;
  width: 33%;
}

.inline-link {
  color: inherit;
}

.image-side {
  width: 100%;
}

.tagline {
  max-width: 25rem;
}

.section-tagline > .tagline-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (min-width: 650px) {
  .image-container {
    display: inline-block;
    max-width: 50%;
    margin-right: 2rem;
  }

  .section-tagline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.section-max {
  max-width: 50rem;
  width: 100%;
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  width: 100%;
}

.video-responsive iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.p-first {
  margin-top: 0;
}

.p-last {
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.header {
  margin-top: 0;
}

.section-links {
  justify-content: space-between;
}

.section-signup a,
.section-contact a {
  margin-bottom: 2rem;
  max-width: 28.375rem;
}

.section-signup,
.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50rem;
  width: 100%;
}

.section-signup a,
.section-contact a {
  background: #e7e4da;
  box-sizing: border-box;
  color: #ad3f34;
  line-height: 1.25;
  outline: 0.25rem solid #ad3f34;
  outline-offset: -0.5rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 550px) {
  .section-signup,
  .section-contact {
    flex-direction: row;
  }

  .section-signup a,
  .section-contact a {
    width: calc(50% - 1rem);
  }

  .section-contact a {
    margin-bottom: 0;
  }
}

.section-signup a:hover,
.section-contact a:hover {
  outline-offset: -0.75rem;
  outline-width: 0.5rem;
}

a.red-small {
  background: #ad3f34;
  color: #e7e4da;
  outline-color: #e7e4da;
}

@media (min-width: 650px) {
  a.red-small {
    background: #e7e4da;
    color: #ad3f34;
    outline-color: #ad3f34;
  }

  a.red-large {
    background: #ad3f34;
    color: #e7e4da;
    outline-color: #e7e4da;
  }
}

.footer {
  margin-top: -15vw;
  position: relative;
}

.footer img {
  display: block;
  width: 100%;
}

.footer:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  opacity: 0.6;
}

.letter-spacing-a {
  letter-spacing: 0.27rem;
  line-height: 1.5;
}

.letter-spacing-b {
  letter-spacing: 0.39rem;
}

.letter-spacing-c {
  letter-spacing: -0.05rem;
  margin-left: -0.5rem;
}

.letter-spacing-d {
  letter-spacing: 0.34rem;
  margin-left: 0.25rem;
}

.letter-spacing-e {
  letter-spacing: 0.05rem;
  margin-left: -0.05rem;
}

.letter-spacing-f {
  letter-spacing: 0.13rem;
  margin-left: 0.05rem;
}

.letter-spacing-g {
  letter-spacing: 0.38rem;
  margin-left: 0.25rem;
}

.letter-spacing-h {
  letter-spacing: 0.28rem;
  margin-left: 0.4rem;
}

.letter-spacing-i {
  letter-spacing: 0.1rem;
}
